<div class="tasks">
  <% @tasks.each do |task| %>
  <div class="task">
    <p>
      <%= link_to "/tasks/#{task.id}", method: :delete do %>
          <i class="far fa-check-circle fa-lg"></i>
      <% end %>
      <%= link_to task.title, task_path(task.id) %>
    </p>
  </div>
  <% end %>
</div>