<div class="todo">To Do App</div>

<div class="top-image1">
  <div class="top-container">
  </div>
  <div class="top-content">
    <h1>Welcome to ToDoApp</h1>
    <p>ToDoAppへようこそ</p>
  </div>
</div>

<div class="top-image2">
  <div class="top-container">
  </div>
  <div class="top-content">
    <h1>Manage tasks</h1>
    <p>タスクを管理して</p>
  </div>
</div>
  
<div class="top-image3">
  <div class="top-container">
  </div>
  <div class="top-content">
    <h1>Do tasks efficiently!</h1>
    <p>効率よくタスクをこなそう！</p>
  </div>
</div>