<footer>
  <div class="footer-container">
    <div>PRODUCED BY</div>
    <div class="mae">mae</div>
    <div>HPは<%= link_to "こちら", root_path %>から</div>
    <div class="footer-icons">
    <%= link_to "#", method: :get do %>
      <i class="fab fa-line fa-3x line-green"></i>
    <% end %>
    <%= link_to "#", method: :get do %>
      <i class="fab fa-twitter-square fa-3x tw-blue"></i>
    <% end %>
    <%= link_to "#", method: :get do %>
      <i class="fab fa-facebook-square fa-3x fb-blue"></i>
    <% end %>
    </div>
    <div class="enquiry">お問い合わせ  TEL 0120-XX-XXXX (フリーダイヤル 月〜土 10:00〜17:00)</div>
  </div>
</footer>