<footer>
  <div class="footer_con">
    <div>PRODUCED BY</div>
    <div class="mae">mae</div>
    <div>HPは<%= link_to "こちら", root_path %>から</div>
    <div class="enquiry">お問い合わせ  TEL 0120-XX-XXXX (フリーダイヤル 月〜土 10:00〜17:00)</div>
    <div><%= link_to "TOP", root_path %></div>
  </div>
</footer>