.header_con {
  font-size: 16px;
  width: 90vw;
  padding: 4vh 10vw;
  border-bottom: 1px solid #333;
  /* 指定された要素の子要素が横並びになる */
  display: flex;
  justify-content: space-between;
  position: fixed;
  left: 5vw;
  z-index: 1;
  background-color: white;
}

.lists-left {
  display: inline-block;
  display: flex;
}

.top {
  margin-right: 30px;
}

.fa-home, .fa-calendar-alt, .fa-calendar-plus, .fa-user-circle {
  color: rgb(73, 73, 73);
}

.lists-right {
  list-style: none;
  display: flex;
  align-items: center;
}

.lists-right li {
  margin: 0 0 0 3vw;
}

a {
  text-decoration: none;
}

.login-icon {
  background-image: url(login.jpg);
  background-size: cover;
  width: 35px;
  height: 35px;
}

.logout-icon {
  background-image: url(logout.jpg);
  background-size: cover;
  width: 35px;
  height: 35px;
}

.signup-icon {
  background-image: url(signup.jpg);
  background-size: cover;
  width: 35px;
  height: 35px;
}