.tasks {
  margin: 150px auto 50px auto;
  height: 1360px;
  width: 900px;
  background-size: cover;
  padding: 50px;
}

.task {
  border-bottom: 1px solid #333333;
  padding: 10px;
  display: block;
  max-width: 800px;
  margin-bottom: 1%;
  overflow: scroll; /* 入りきらない文字列はスクロール */
  white-space: nowrap;　/* 文字の折り返しを禁止 */
}

.task:hover {
  box-shadow: 1px 1px 1px 3px rgba(41, 41, 41, 0.4);;
  transition: 0.5s ;
}

.fa-check-circle {
  margin-right: 20px;
}