/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}
/* リセットCSS */

/* paddingとborderを幅と高さに含める */
* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, body {
  /* 行ボックスの高さ */
  line-height: 1.57;
  /* テキストの時間のスペース */
  letter-spacing: 0.15em;
  font-size: 16px;
  color: #666;
  margin: 0;
}

/* ユーザー管理画面 */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  /* Internet Explorerの独自拡張で、指定要素を拡大表示する際に使用。（1.0が標準サイズ） */
  *zoom: 1;
}

.container {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
}

iv.contents.row h2 {
  margin: 20px 0;
  padding: 0;
  font-weight: normal;
}

label {
  cursor: default;
}

form input, form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

form input[type="submit"] {
  background-color: #57C3E9;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

/* header */

.nav {
  font-size: 14px;
  width: 90vw;
  padding: 2vh 15vw;
  background-color: #fff;
  /* 指定された要素の子要素が横並びになる */
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid #333;
}

.root-icon {
  width: 5vw;
  margin-right: 5vw;
}

.tasks-icon {
  width: 5vw;
  margin-right: 15vw;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

li {
  margin: 0 10px;
  padding: 0 20px;
}

a {
  text-decoration: none;
}

/* header */

.tasks {
  margin: 50px auto;
  height: 596px;
  width: 900px;
  background-image: url(task-1.jpg);
  background-size: cover;
  position: relative;
}

.back {
  background-color: #fff;
  border-radius: 10px;
  display: inline-block;
}