

@media (max-width: 1231px) {
  .top-about-3 {
    height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Acme', sans-serif;
  }
  
  .top-about-3-1 {
    height: 463px;
    width: 823px;
    padding: 80px;
    background-image: url(top-3.jpg);
    background-size: cover;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .top-about-3-1-1 h1 {
    font-size: 80px;
    color: white;
  }
  
  .top-about-3-1-2 {
    position: absolute;
    top: 350px;
    left: 80px;
  }
  
  .top-login {
    font-weight: bold;
    color: white;
    background-color: rgb(255, 189, 68);
    padding: 13px 20px;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .top-sign-up {
    font-weight: bold;
    color: white;
    background-color: rgb(255, 189, 68);
    padding: 13px 20px;
    border-radius: 10px;
  }

  .top-about-3-1-3 {
    height: 383px;
    width: 150px;
    background-color: rgb(255, 189, 68);
    position: absolute;
    top: 0;
    right: -9%;
    z-index: -1;
  }
}

@media (max-width: 1024px) {
  .top-about-3 {
    height: 400px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Acme', sans-serif;
  }
  
  .top-about-3-1 {
    height: 463px;
    width: 823px;
    padding: 80px;
    background-image: url(top-3.jpg);
    background-size: cover;
    margin: 0 auto;
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .top-about-3-1-1 h1 {
    font-size: 80px;
    color: white;
  }
  
  .top-about-3-1-2 {
    position: absolute;
    top: 350px;
    left: 80px;
  }
  
  .top-login {
    font-weight: bold;
    color: white;
    background-color: rgb(255, 189, 68);
    padding: 13px 20px;
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .top-sign-up {
    font-weight: bold;
    color: white;
    background-color: rgb(255, 189, 68);
    padding: 13px 20px;
    border-radius: 10px;
  }

  .top-about-3-1-3 {
    background-color: rgb(255, 189, 68);
    position: absolute;
    top: 0;
    right: -9%;
    z-index: -1;
  }
}