/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1, h2, h3, h4, h5, h6, p {
  padding: 10px 0;
  margin: 0;
}

ul, li {
  padding: 0;
  margin: 0;
}
/* リセットCSS */

/* 共通 */
/* paddingとborderを幅と高さに含める */
* {
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.error-message, .login-flash-message {
  color: red;
  margin-bottom: 10px;
  text-align: center;
}

body {
  /* テキストの時間のスペース */
  letter-spacing: 0.25em;
  color: #333333;
  font-family: 'Neucha', cursive;
}

form input, textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

form input[type="submit"] {
  background-color: #b1b1b1;
  border-radius: 5px;
  color: #fff;
  font-size: 18px;
  /* デフォルトのArialが適用されていたため、上書き。 */
  font-family: 'Neucha', cursive;
  /* デフォルトのnormalが適用されていたため、上書き。 */
  letter-spacing: 0.25em;
  /* ボタンにカーソルを合わせた時、カーソルが変わるように。devise共通の上書き。 */
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: rgb(97, 97, 97);
  /* 変化するまでの時間を設定 */
  transition: 0.5s;
}

.devise-container, .edit-container, .new-container, .show-container {
  margin: 200px auto 100px auto;
  max-width: 600px;
  padding: 50px;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 30px;
  /* 項目名にカーソルを合わせた時、カーソルが変わらないように。 */
  cursor: default;
}

.devise-container:hover, .edit-container:hover, .new-container:hover, .show-container:hover {
  box-shadow: 0 0 20px rgba(41, 41, 41, 0.4);
  /* 変化するまでの時間を設定 */
  transition: 0.5s;
}

.devise-container h2, .edit-container h2, .new-container h2 {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

select {
  width: 32%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
}
/* 共通 */

/* devise */
/* devise */

/* edit */
/* edit */

/* footer */
.footer-container {
  font-size: 16px;
  width: 90vw;
  padding: 30px 0;
  margin: 0 auto;
  border-top: 1px solid #333;
  text-align: center;
}

.mae {
  font-size: 50px;
  margin: 5px 0;
}

.footer-icons {
  margin: 30px 0;
}

.fb-blue, .tw-blue {
  margin-left: 20px;
}

.fb-blue {
  color: #4267b2;
}

.line-green {
  color: #00B900;
}

.tw-blue {
  color: #1da1f2;
}
/* footer */

/* header */
.header-container {
  /* Font Awesomeのアイコンサイズ */
  font-size: 16px;
  width: 90vw;
  padding: 30px 10vw;
  border-bottom: 1px solid #333;
  /* 指定された要素の子要素が横並びになる */
  display: flex;
  justify-content: space-between;
  /* fixedで固定しているから透明ではいけない */
  background-color: white;
  /* 指定位置に固定 */
  position: fixed;
  top: 0;
  left: 5vw;
  /* 他のものより上に表示させる */
  z-index: 1;
}

.lists-left {
  display: flex;
}

.fa-home, .fa-calendar-alt, .fa-calendar-plus, .fa-user-circle {
  /* ログアウト画像（Font Awesomeにアイコンなかった）に色を合わせる */
  color: rgb(73, 73, 73);
}

.fa-home {
  margin-right: 40px;
}

.lists-right {
  list-style: none;
  display: flex;
  align-items: center;
}

.lists-right li {
  margin-right: 40px;
}

.login-icon {
  background-image: url(login.jpg);
  background-size: cover;
  width: 35px;
  height: 35px;
}

.logout-icon {
  background-image: url(logout.jpg);
  background-size: cover;
  width: 35px;
  height: 35px;
}

.signup-icon {
  background-image: url(signup.jpg);
  background-size: cover;
  width: 35px;
  height: 35px;
}
/* header */

/* index */
.tasks {
  margin: 0 auto 50px auto;
  width: 900px;
  padding: 50px;
}

.task {
  border-bottom: 1px solid #333333;
  padding: 10px;
  max-width: 800px;
  margin-bottom: 10px;
  /* titleの折り返しを禁止 */
  white-space: nowrap;
  /* titleが長い場合は枠に収め、スクロールさせる。 */
  overflow: scroll;
}

.task:hover {
  box-shadow: 1px 1px 1px 3px rgba(41, 41, 41, 0.4);
  /* 変化するまでの時間を設定 */
  transition: 0.5s;
}

.fa-check-circle, .fa-redo-alt {
  margin-right: 20px;
  color: #333333;
}

.no-deadline {
  color: green;
}

.today {
  color: blue;
}

.expired {
  color: red;
}

.far-away {
  color: #333333;
}

.no-deadline-comment {
  margin-bottom: 10px;
}

.expired-comment, .today-comment, .far-away-comment {
  margin: 50px 0 10px 0;
}

.new-title {
  margin: 150px auto 0 auto;
  max-width: 600px;
  padding: 30px;
  border-radius: 30px;
  border: 1px solid rgb(180, 180, 180);
}

.new-title:hover {
  box-shadow: 0 0 20px rgba(41, 41, 41, 0.4);
  /* 変化するまでの時間を設定 */
  transition: 0.5s;
}
/* index */

/* new */
/* new */

/* show */
.task-contents {
  padding: 0 0 10px 20px;
  /* 改行するコード。英語なら単語ごとに区切って表示、日本語は範囲に合わせて区切るオプション。 */
  word-break: normal;
}

.show-icons {
  display: flex;
  justify-content: flex-end;
}

.fa-edit, .fa-trash-alt {
  color: #333333;
  margin-right: 20px;
}
/* show */

/* top */
.todo {
  font-size: 100px;
  text-align: center;
  padding-top: 150px;
}

.top-container {
  height: 70%;
  width: 70%;
  background-color: white;
  opacity: 0.8;
}

.top-content {
  text-align: center;
  position: absolute;
}

.top-content h1 {
  /* 共通で設定しているが値を大きくしたいから上書き */
  letter-spacing: 10px;
  font-size: 30px;
}

.top-content p {
  /* 共通で設定しているが値を大きくしたいから上書き */
  letter-spacing: 10px;
  margin-top: 20px;
}

.top-image1, .top-image2, .top-image3 {
  height: 596px;
  width: 900px;
  background-size: cover;
  margin: 50px auto 100px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-image1 {
  background-image: url(task-10.jpg);
}

.top-image2 {
  background-image: url(task-9.jpg);
}

.top-image3 {
  background-image: url(task-16.jpg);
}
/* top */